{% extends "base.html" %}

{% block content %}
<p><br></p>
<div class="border rounded">
<meta charset="UTF-8">
<h2 align="center" class="text-light">Список складируемых предметов</h2>
<div class="table_container">
    <table class="table table-striped text-light">
        <tr class="my_row">
            <td class="title" width="50px">ID</td>
            <td class="title" width="200px">Название</td>
            <td class="title" width="200px">Категория</td>
            <td class="title" width="200px" align="center">Цена</td>
            <td class="title" width="200px" align="center">Вес</td>
            <td class="title" width="1000px" align="center">Описание</td>
        </tr>
        {% for item in items %}
        <tr class="my_row">
            <td class="ordinary">{{ item.id }}</td>
            <td class="ordinary">{{ item.name }}</td>
            <td class="ordinary">{{ item.category }}</td>
            <td class="ordinary" align="center">{{ item.price }} руб</td>
            <td class="ordinary" align="center">{{ item.weight }} кг</td>
            <td class="ordinary">{{ item.description }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
<br>

{% endblock %}